.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    margin: 0;
    padding: 0;
    z-index: 1;
}

.overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 450px;
  overflow: auto;
  z-index: 1;
  background-color: white;
  padding: 20px;
  align-items: center;

}

.inner-content{
    padding: 20px;
    font-size: 12px;
}